openapi: 3.1.0
info:
  title: Hootdesk API Reference
  description: Hootdesk API Reference
  version: 1.0.0
  x-logo:
    url: >-
      data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzNjAuNSA4NyI+PHBhdGggZD0iTTg4LjE5IDE3Ljc1djE2LjcxaDE2LjE0VjE3Ljc1aDkuNzd2NDMuMzNoLTkuNzdWNDMuMDFIODguMTl2MTguMDdoLTkuNzdWMTcuNzVoOS43N3ptNDUuOTIgMzcuMDNjMy44NiAwIDYuMjQtMy44IDYuMjQtOS40NSAwLTQuNjMtMS44LTkuMzktNi4yNC05LjM5LTQuNjMgMC02LjQzIDQuNzYtNi40MyA5LjQ1IDAgNS4zMyAyLjI1IDkuMzkgNi4zNiA5LjM5em0tLjE5IDdjLTkuMTkgMC0xNi4yNy02LTE2LjI3LTE2LjJzNi42OS0xNi42NSAxNi44NC0xNi42NWM5LjU4IDAgMTYgNi42MiAxNiAxNi4xNCAwIDExLjQ0LTguMTYgMTYuNzEtMTYuNTIgMTYuNzF6bTM2LjMyLTdjMy44NiAwIDYuMjQtMy44IDYuMjQtOS40NSAwLTQuNjMtMS44LTkuMzktNi4yNC05LjM5LTQuNjMgMC02LjQzIDQuNzYtNi40MyA5LjQ1IDAgNS4zMyAyLjI1IDkuMzkgNi4zNyA5LjM5em0tLjE5IDdjLTkuMTkgMC0xNi4yNi02LTE2LjI2LTE2LjJzNi42OS0xNi42NSAxNi44NC0xNi42NWM5LjU4IDAgMTYgNi42MiAxNiAxNi4xNCAwIDExLjQ0LTguMTcgMTYuNzEtMTYuNTMgMTYuNzF6bTIwLjE1LTI0Ljk0djEyLjkyYzAgNC40NC45IDcuNDYgMi43IDkuMzJhMTAuNDEgMTAuNDEgMCAwMDcuMzkgMi43IDIwLjU4IDIwLjU4IDAgMDA2LjMtLjg0bC0uMDctNy4zOWExMS44NSAxMS44NSAwIDAxLTIuODkuMjZjLTIuODkgMC0zLjg2LTEuNzQtMy44Ni01LjUzVjM2Ljg0aDd2LTcuMmgtN3YtOS41M2E5LjUzIDkuNTMgMCAwMC05LjU0IDkuNTN6bTEwMC4xIDB2MTIuOTJjMCA0LjQ0LjkgNy40NiAyLjcgOS4zMmExMC40MiAxMC40MiAwIDAwNy4zOSAyLjcgMjAuNiAyMC42IDAgMDA2LjMtLjg0bC0uMDctNy4zOWExMS44OCAxMS44OCAwIDAxLTIuODkuMjZjLTIuODkgMC0zLjg2LTEuNzQtMy44Ni01LjUzVjM2Ljg0aDd2LTcuMmgtN3YtOS41M2E5LjUzIDkuNTMgMCAwMC05LjU0IDkuNTN6bS03OC4zNiAxNS43NWExOS4wOSAxOS4wOSAwIDAwOC40MiAyLjMxYzMgMCA0LjE4LTEgNC4xOC0yLjU3cy0xLTIuNDUtNC41Ny0zLjY3Yy02LjU2LTIuMTItOS4wNy01LjcyLTktOS4zOCAwLTUuOTIgNS0xMC4zNSAxMi43OS0xMC4zNWEyMC42NSAyMC42NSAwIDAxOC44MSAxLjg2bC0xLjY3IDYuNjlhMTYuNzIgMTYuNzIgMCAwMC02LjgyLTEuNzRjLTIuMzggMC0zLjcyIDEtMy43MiAyLjUxczEuMjIgMi4zMiA1LjA4IDMuNjdjNiAyIDguNDIgNS4wNyA4LjQ5IDkuNjQgMCA1LjkyLTQuNTYgMTAuMjItMTMuNTYgMTAuMjJhMjIuMjEgMjIuMjEgMCAwMS0xMC4xNi0yLjI1em01NS4zLTEuNTljMCA0LjExLjEzIDcuNDYuMjYgMTAuMDlIMjU5bC0uNDUtNC40NGgtLjE5YTExLjIxIDExLjIxIDAgMDEtOS44MyA1LjE0Yy02LjQzIDAtMTEuMDYtNC0xMS4wNi0xMy42OVYyOS42NGg5Ljc3djE2LjkxYzAgNC41NiAxLjQ4IDcuMzIgNSA3LjMyYTUuNDIgNS40MiAwIDAwNS4yNy01LjUzdi0xOC43aDkuNzd6bTYuNjgtMjEuMzZoOS43OHYzMS40NGgtOS43OHptNC44My00LjEyYTUuMTIgNS4xMiAwIDAxLTUuNC01LjIxYzAtMyAyLjE5LTUuMjEgNS41My01LjIxYTUuMjIgNS4yMiAwIDExLS4wNiAxMC40MnptNTEuOTYgMTYuMmMwLTIuMzEtMS02LjM3LTUuNDctNi4zNy00LjE4IDAtNS44NSAzLjc5LTYuMTEgNi4zN3ptLTExLjUxIDYuNjljLjMyIDQuMTIgNC4zMSA2IDguODcgNmEyNS45IDI1LjkgMCAwMDguNjgtMS4zNWwxLjI1IDYuNjdhMjkuNzcgMjkuNzcgMCAwMS0xMS4zOCAyYy0xMC42NyAwLTE2Ljc4LTYuMTctMTYuNzgtMTYuMDcgMC04IDUtMTYuNzggMTUuODgtMTYuNzggMTAuMTYgMCAxNCA3LjkxIDE0IDE1LjY5YTI1LjI0IDI1LjI0IDAgMDEtLjMyIDMuOTJ6TTQzLjkyIDguMzJhMjUuMjMgMjUuMjMgMCAwMC0yNS4zMyAwQTI1IDI1IDAgMDA2IDV2MjUuMjNhNTAuNTEgNTAuNTEgMCAwMDUwLjUxIDUwLjUyVjVhMjUgMjUgMCAwMC0xMi41OSAzLjMyeiIvPjxwYXRoIGQ9Ik00Mi4xMyAxNC4xMWExMC44MyAxMC44MyAwIDAwLTEwLjgxIDkuODR2LS4wNy4wN2ExMC44NSAxMC44NSAwIDEwLTUgMTAuMWw1IDUuMDYgNS4wNy01YTEwLjgzIDEwLjgzIDAgMTA1Ljg0LTIwem0tMjEuNzEgMThBNy4yMiA3LjIyIDAgMTEyMi41OSAxOGEzLjYxIDMuNjEgMCAxMDQuNzUgNC43OCA3LjIzIDcuMjMgMCAwMS02LjkzIDkuMzR6bTIxLjY2LjA2YTcuMjIgNy4yMiAwIDAxLTYuODctOS4zN0EzLjYxIDMuNjEgMCAxMDQwIDE4YTcuMjIgNy4yMiAwIDExMi4xIDE0LjEyeiIgZmlsbD0iI2ZmZiIvPjxwYXRoIGQ9Ik0zNDQuMTggMzUuMTRhNS43IDUuNyAwIDAxLjc3LTIuODggNS42MiA1LjYyIDAgMDEyLjExLTIuMTIgNS43OCA1Ljc4IDAgMDE1Ljc3IDAgNS42MyA1LjYzIDAgMDEyLjEyIDIuMTEgNS43NyA1Ljc3IDAgMTEtMTAuNzYgMi44OXptLjgxIDBhNSA1IDAgMDA1IDUgNC44MiA0LjgyIDAgMDAyLjQ4LS42NyA1IDUgMCAwMDEuODEtMS44MSA0Ljk0IDQuOTQgMCAwMDAtNSA1IDUgMCAwMC0xLjgxLTEuODEgNC45NCA0Ljk0IDAgMDAtNSAwIDUgNSAwIDAwLTEuODEgMS44MSA0LjgxIDQuODEgMCAwMC0uNjYgMi40OHptNy4zLTEuNGExLjg2IDEuODYgMCAwMS0uMzMgMS4wOCAxLjkzIDEuOTMgMCAwMS0uOTIuN2wxLjgyIDNoLTEuMjlMMzUwIDM1Ljg1aC0xdjIuNzFoLTEuMTN2LTYuODNoMmEyLjg4IDIuODggMCAwMTEuODcuNSAxLjg3IDEuODcgMCAwMS41NCAxLjUxek0zNDkgMzQuOWguODNhMS40NiAxLjQ2IDAgMDAxLS4zMiAxIDEgMCAwMC4zNy0uODEgMSAxIDAgMDAtLjMzLS44MiAxLjc0IDEuNzQgMCAwMC0xLS4yNUgzNDl6Ii8+PC9zdmc+
  contact:
    email: dev.support@hootsuite.com
  license:
    name: Hootsuite Developer Terms and API License Agreement
    url: https://hootsuite.com/legal/dev-api-terms
servers:
  - url: https://platform.hootsuite.com
    description: Hootdesk production server
x-tagGroups:
  - name: General
    tags:
      - rest-api-authentication
  - name: CRM API
    tags:
      - crm_introduction
      - crm_webhooks
  - name: Virtual Agent API
    tags:
      - vai_introduction
      - vai_webhooks
      - vai_rest_api
  - name: Real-time metrics API
    tags:
      - real_time_metrics_introduction
      - real_time_metrics_rest_api
  - name: Proactive messaging API
    tags:
      - proactive_messaging_introduction
      - proactive_messaging_rest_api
  - name: Messenger SDK
    tags:
      - messenger_introduction
      - messenger_web_sdk
tags:
  - name: rest-api-authentication
    x-displayName: REST API authentication
    description: >
      Hootdesk API authentication uses a custom [organization_app grant
      flow](https://developer.hootsuite.com/docs/api-authentication#organization_app-custom-grant-workflow).

      This flow is based on the [OAuth2 client credentials
      grant](https://datatracker.ietf.org/doc/html/rfc6749#section-4.4), but
      adds an additional `organization_id` parameter to the token request to
      identify a specific organization.


      Follow the steps below to make an authenticated API request.


      # 1. Request client credentials for your organization


      Follow these steps to set up your app and retrieve your client credentials
      (`client_id` and `client_secret`):


      ### Step 1: Set up a developer account

      1. Create a developer account through the [Hootsuite Developer
      Program](https://hootsuite.com/developers/new-app) page.

      2. Wait for your developer account to be approved and locate your approval
      email message. 

      3. Use the information in the approval email message to log in to the
      [Hootsuite Developer Apps](https://hootsuite.com/developers/my-apps).


      ### Step 2: Create a new developer app

      1. Select the `create new app` button.

      2. Fill in the `App Title` and `Description` fields and select `create`.

      3. You do not need to submit the app.


      ### Step 3: Retrieve the appId of your newly created app

      1. Go to your [Hootsuite Developer
      Apps](https://hootsuite.com/developers/my-apps) dashboard.

      2. Select `edit` for your newly created app.

      3. You can find the appId in the `appId` parameter of the browser URL. Ex:
      `https://hootsuite.com/developers/my-apps/app-directory/app/edit?appId=XXXXXX`


      ### Step 4: Retrieve the organization ID of your Hootsuite organization

      1. Sign in into your [Hootsuite account](https://hootsuite.com).

      2. Select `My profile > Manage accounts and teams`.

      3. Select `Teams` for your organization.

      5. You can find the organization ID in the id query parameter in your
      browser's address bar.

      ```

      https://hootsuite.com/dashboard#/organizations/teams/?id=<your_organization_id>

      ```


      ### Step 5: Request the client credentials (`client_id` and
      `client_secret`) for your app

      1. Send an email to the Development Support Team to create your client
      credentials and link your organization to your app:

      - To: `dev.support@hootsuite.com`

      - Include: 
        - the `appId` you retrieved in *Step 3*
        - the `organization ID` you retrieved in *Step 4*
      2. Wait for the Development Support Team to provision your client
      credentials.


      ### Step 6: Retrieve the client credentials

      When you receive an email from the Development Support Team saying that
      they have provisioned your client credentials, you can retrieve the
      credentials.

      1. Go to the [Hootsuite Developer
      Apps](https://hootsuite.com/developers/my-apps) dashboard.

      2. Select `edit` for your newly created app.

      3. Your client credentials are available in the `REST API Information`
      section of your app.


      # 2. Generate an access token


      When the developer app is correctly set up, you can use your `client_id`
      and `client_secret` to retrieve an `access_token` to make authorized API
      requests.

      When the `access_token` expires, use the
      [/oauth2/token](#operation/oauthToken) to generate a new token.


      This endpoint requires that you pass in your client credentials
      (`client_id` and `client_secret`) using the HTTP Basic authentication
      scheme as described in the [OAuth 2.0
      specification](https://datatracker.ietf.org/doc/html/rfc6749#section-2.3.1).

      Including your client credentials in the request-body is not supported.


      When the `access_token` expires, the API returns a 401 unauthorized. The
      client can automate this by generating a new access

      token and replaying the failed request with the fresh access token, as
      described in the following section.




      # 3. Include the access token as a bearer token Authorization header


      Add the bearer token in the Authorization header


      ```text

      Authorization: Bearer <your_access_token>

      ```


      Example request with token


      ```shell

      $ curl -X GET
      https://platform.hootsuite.com/hootdesk/v1/reporting/metrics/agent-availability
      \ 
          -H 'Authorization: Bearer oZy8FDUHEiZ0mh0j4rUwOT9t5yHouTzBDsn-x_GROB0.rz-pMQzh-1F6VIGwnJZMBwH3SRwDfEHE4CRi-AClpcg'
       ```
  - name: crm_introduction
    x-displayName: Introduction
    description: >
      Hootdesk CRM integration allows you to pull customer contact data from
      CRMs or other internal business applications into Hootdesk. To integrate
      your CRM with Hootdesk, you need to provide an HTTPS endpoint for lookups.
      You can also provide an optional HTTPS endpoint for handling write back
      requests and an HTTP endpoint for Hootdesk to send notifications from our
      application to your CRM.
  - name: crm_webhooks
    x-displayName: Webhooks
    description: >
      ### Webhook authentication


      When receiving data from Hootdesk, we provide two authentication options.
      Both mechanisms are in place so that you can make sure the request
      originates from Hootdesk.


      #### Shared secret


      If you choose the shared secret authentication method, a secret will be
      generated for you. This secret allows you to calculate the signature to
      verify that the call originated from Hootdesk. With this mechanism, every
      single request from Hootdesk contains the `X-Hootsuite-Signature` header.
      Here's an example of a request:


      ```shell

      curl -X POST https://my-webhook-url  \
        -H 'accept: application/json' \
        -H 'X-Hootsuite-Signature: e6f93239a06e46ae9654fc9ad2fb4e1cc4eb213830a0d94e711570c047e43c57' \ 
        -d '{"email":"fj@example.com"}'
      ```


      The signature is generated using the `HMAC-SHA256` algorithm with the
      shared secret and the request body. 

      Use your secret to calculate the signature and compare with the given
      signature. 

      Both the secret key you received and the signature are encoded as
      hexadecimal strings. 

      Make sure to convert the shared secret from its hexadecimal representation
      to its binary format before using it. 

      Most languages come with libraries out of the box to verify this
      signature. 

      For example, here's how it looks in JavaScript:


      ```javascript

      const crypto = require("crypto");

      const hootdeskSecret = "..."; // do not share!

      const expectedSignature = request.headers["X-Hootsuite-Signature"];

      const actualSignature = crypto
          .createHmac("sha256", Buffer.from(hootdeskSecret, "hex"))
          .update(request.body, "utf-8")
          .digest("hex");
      if (actualSignature !== expectedSignature) {
          throw new createError.Unauthorized("X-Hootsuite-Signature wrong");
      }

      console.log(JSON.parse(request.body).email);

      ```


      #### OAuth


      If your endpoints support OAuth2, you can configure your client
      credentials, a Token URL, and, optionally, a Scope in Hootdesk.


      We use the OAuth2 Client Credentials flow to authenticate against your
      CRM. The Token URL is the endpoint where we can authenticate with these
      credentials and retrieve an access token. To do the actual lookup, write
      back, or notification requests, we use the token in the Authorization
      Header to authenticate.
  - name: vai_introduction
    x-displayName: Introduction
    description: >
      Hootdesk virtual agents allow enterprises to add bots to the platform as
      if they were real agents. They can respond

      to incoming messages, resolve conversations, apply topics, and set contact
      attributes. Instead of limiting the bot

      platforms that can be integrated, we provide a generic API that you can
      use to integrate with any platform.


      To integrate your favorite bot platform with Hootdesk, you will need to
      provide an HTTPS endpoint. Hootdesk

      calls this endpoint every time a conversation is assigned to your virtual
      agent and whenever the contact sends a new

      message. If you're using a synchronous bot platform, you can immediately
      answer this request with the response. If

      you're using an asynchronous bot platform, you can also send a POST
      request to Hootdesk to send a reply to a

      conversation.


      ![](static/virtual-agent-api.png)


      # Two types of virtual agents


      ### Inception


      An inception virtual agent automatically picks up private conversations
      that start in the channels it has access to. If

      an inception virtual agent needs a human agent, it will place the
      conversation in the New queue so that any agent can

      respond. The inception virtual agent can also resolve a conversation if no
      human assistance is required.


      Because an inception virtual agent automatically picks up conversations in
      the channel it has access to, you cannot

      create multiple inception virtual agents that have access to the same
      channel.


      ### Delegation


      A delegation virtual agent will not automatically pick up conversations.
      Instead, a human agent can give a conversation

      to a delegation virtual agent at any point in the conversation. The
      delegation virtual agent will take over at this

      point. The handoff rule determines what should happen if a delegation
      virtual agent needs a human agent. If "New queue"

      is selected, the conversation moves to the New queue to be picked up by
      any agent. If "previous agent" is selected, the

      delegation virtual agent assigns the conversation back to the previous
      human agent.


      Multiple delegation virtual agents can have access to the same channel. A
      human agent must specifically select the

      virtual agent to take over the conversation.


      # Add a virtual agent


      To add a virtual agent:
        
        1. Go to `Admin settings`, expand `Virtual agents`, select `Custom virtual agents`, and then
        select `Add custom virtual agent`.
        2. Enter a name for the virtual agent. This name will appear in Hootdesk as "{Name} VA".
        3. Specify whether you want your virtual agent to be activated as an `Inception` agent or a `Delegation` agent.
        4. The Webhook URL must be provided to properly send conversation information to your virtual agent (see the Webhooks
        section for more information).
        5. Fill out the remaining fields as you like, including any handoff rules you want to add.
        6. Select `Save`.
        7. Scroll down to the `Channel access` section, and use the toggles to select a channel or channels where this virtual
        agent can be accessed.

      ### Timeout virtual agent


      You can configure two types of contact rules for virtual agents:

        - Timeout virtual agent - Determines when a handoff (to the New or Resolved queue) will occur if the auto responder stops responding for any reason. The maximum you can set is 1 hour.
        - Timeout contact - Determines when a handoff will occur if the contact stops responding. The maximum you can set is 23 hours.

      #### Error handling


      If the virtual agent connection times out, an error occurs, or if the
      contact times out, you can do the following:

        - Mark the conversation as New or Resolved
        - Automatically apply a topic
        - If the conversation is marked as Resolved, automatically send a standard reply to the customer

      ### Edit or delete a virtual agent
        
      To edit a virtual agent, on the `Custom virtual agents` page, select the
      `Edit` icon. To delete a virtual agent, select

      the `Trash` icon.


      ### View the secret for a virtual agent


      On the `Custom virtual agents` page, select the `Edit` icon next to the
      virtual agent. You can view or copy the shared

      secret generated for this virtual agent on the `Edit custom virtual agent`
      page. See the Securing webhooks section for

      more information.
  - name: vai_webhooks
    x-displayName: Webhooks
    description: >
      ### Webhook authentication


      When setting up a virtual agent, you received a secret key that you can
      use to verify whether an incoming webhook

      request really comes from Hootdesk without alterations. In the request
      headers of each webhook call is the

      `X-Hootsuite-Signature`. This contains an `HMAC-SHA256` signature based on
      the body of the request. 

      Both the secret key you received and the signature are encoded as
      hexadecimal strings. 

      Most languages come with libraries out of the box to verify this
      signature. 

      Here is some sample code to verify it in Node.js:


      ```javascript

      const hootdeskSecret = "..."; // do not share!

      const expectedSignature = request.headers["X-Hootsuite-Signature"];

      const actualSignature = crypto

      .createHmac("sha256", Buffer.from(hootdeskSecret, "hex"))

      .update(request.body, "utf-8")

      .digest("hex");

      if (actualSignature !== expectedSignature) {

      throw new createError.Unauthorized("X-Hootsuite-Signature wrong");

      }

      ```


      Note: Make sure you calculate the signature off the body as is, before you
      deserialize it from JSON. 

      During the calculation of the signature, all white space is considered
      significant.


      As part of the request body, you will find a timestamp. This is the time a
      request was sent. To prevent replay attacks,

      we recommend verifying that this timestamp is no older than 5 minutes:


      ```javascript

      if
      (moment(JSON.parse(request.body).timestamp).isBefore(moment().subtract(5,
      "minutes"))) {
        throw new createError.Unauthorized("Request too old");
      }

      ```


      ### Events


      When a conversation is assigned to the virtual agent you registered in the
      previous section, Hootdesk sends you an event via the URL you configured.


      Three important events are sent:

        - `CONVERSATION_STARTED`
        - `CONVERSATION_DELEGATED`
        - `INBOUND_MESSAGE_RECEIVED`

      ### Common fields


      All events have certain common fields:

        - type: A string that defines what kind of event occurred (currently `CONVERSATION_STARTED`, `CONVERSATION_DELEGATED`, or `INBOUND_MESSAGE_RECEIVED`). 
          New events can be added in the future. Avoid responding with an error to unknown
          values; instead, ignore them. Depending on this type, the structure of data will be different.
        - version: A number designating the version of the type of request. Currently, the version is always 1. Versions will be
          used in the future for introducing non-backward-compatible changes.
        - idempotencyKey: A string that uniquely identifies each event. When a timeout occurs when sending you the event, (or we
          receive an error response), we will retry the event. This key can help you to ensure that a request is processed only
          once.
        - timestamp: The timestamp when we sent the request. This is used to counter possible replay attacks.
        - data: An object that contains structured data for the specific type. For example, an `INBOUND_MESSAGE_RECEIVED` type
          event has fields such as `conversationId` and `message`. Fields may be added in the future.

      ### Requirements


      To provide a good customer experience, some non-functional requirements
      are imposed on the webhook. When a webhook is

      sent, you have 10 seconds to respond with a 200 OK. If a timeout occurs,
      we will retry 3 times using an exponential

      backoff (up to 2 seconds). If the failures persisted during the retries,
      the assigned conversation will be handed over

      to a human agent by placing it in the New queue.


      When the contact sends a message through Hootdesk, by default we expect
      the virtual agent to reply to that message

      within 5 minutes (using either the response to the webhook call or the
      REST API). You can configure the timeout on the

      settings page for your virtual agent (Timeout virtual agent). If the
      virtual agent does not answer the contact, by

      default the conversation is placed in the New queue for a human agent to
      pick up. This can also be configured

      in `Settings`. If you prefer, you can automatically resolve the
      conversation and send a message to the contact (such

      as "Please try again in a little while"). The virtual agent could also
      decide to immediately return control by

      sending `RESOLVED` or `HANDOVER` in the `complete` field.


      Similarly, after a `CONVERSATION_DELEGATED` event, your virtual agent has
      5 minutes to pose a question to the contact by

      default. If the virtual agent fails to do this, the conversation is handed
      back to the previous owner of the

      conversation or placed in the New queue, depending on the handoff rule.


      ### Response


      Your response to the webhook should be a status `200 OK`. In the body, you
      can return the response you want to send to the contact:
        
        ```json
        {
          "sendMessage": {
            "text": "Hi! How can I help you?",
            "attachment": "funny_cat.gif"
          },
          "applyTopics": [
            "Hotel Reservation"
          ],
          "applyTags": [
            "Happy"
          ],
          "setContactAttributes": {
            "account_number": "19758293529351"
          },
          "complete": "HANDOVER"
        }
        ```

      - sendMessage: (Optional) The message you want to send to the contact. You
      can send only text, only an attachment, or
        both at the same time. If you want to send an attachment, you must upload it first, so we recommend using the
        asynchronous flow.
      - applyTopics: (Optional) The list of topics you want to apply to the
      conversation (the intent or action that your
        Virtual Agent matched). Topics that do not exist in Hootdesk will be ignored.
      - applyTags: The list of tags you want to apply to the message from the
      contact. Tags that do not exist in Hootdesk
        will be ignored. It's only possible to use `applyTags` in response to an `INBOUND_MESSAGE_RECEIVED`. It's also
        possible to tag a specific message by specifying the `messageId`. In that case you can respond
        using 
        
        ```json
        {
          "applyTags": [{
              "messageId": "cc75552a-1a78-11e9-855e-6d1e71016abf", 
              "tag": "Happy"
            }]
        }
        ```
      - setContactAttributes: The attributes you want to set on a contact. The
      object is a map between the attribute
        definition's alias and value to set.
      - complete: (Optional) This can be either `HANDOVER` if you want to give
      the conversation to another agent,
        or `RESOLVED` if you want to resolve the conversation. When you pass HANDOVER, the handoff rule you configured in
        settings determine what will happen next. If the handoff rule is "No one," the conversation is placed in the New
        queue without an owner. Any human agent can pick up the conversation. If the rule has been set to "Previous agent,"the
        conversation will be assigned back to the previous human agent. If there was no previous agent, the conversation is
        placed in the New queue without an owner.
        
        If you are integrating with an asynchronous bot platform, you can simply return an empty JSON body {} and send this
        message using a POST request. We also recommend using the REST API when you want to send an attachment. You can respond
        with {}, upload an attachment using a PUT request, and then send the attachment using a POST request.
  - name: vai_rest_api
    x-displayName: REST API
    description: >
      If you want to send the replies asynchronously or manipulate the
      conversation in your fulfillment code, you'll need to

      call the Virtual Agent REST API. 


      The [REST API authentication](#tag/rest-api-authentication) section
      contains more details on how to authenticate your client. 
  - name: real_time_metrics_introduction
    x-displayName: Introduction
    description: >
      The Real-time Metrics API gives you direct access to real-time metrics in
      the Hootdesk platform via a convenient and

      secure REST API. The API provides Hootdesk customers a means to integrate
      with internal contact center dashboards in

      conjunction with other traditional and/or digital communication channels
      such as phone, email, live chat, etc.


      ### Use cases

      If you are building software, you can use the API to engage your customers
      by displaying current wait time to customers in a mobile application or
      website.


      If you're a business, you can use the API to streamline internal business
      processes by:

      - Displaying current backlog and key metrics on digital channels alongside
      other contact center mediums on real-time
        dashboards maintained internally.
      - Keeping internal stakeholders informed by reporting on hourly trends in
      volume and backlog statistics across digital
        channels, to efficiently route agents to another channel if volume spikes.
  - name: real_time_metrics_rest_api
    x-displayName: REST API
    description: >
      When calling the Real-time Metrics API, the client needs to be
      authenticated.


      The [REST API authentication](#tag/rest-api-authentication) section
      contains more details on how to authenticate your client.


      ### Examples


      1. Hourly incoming message volume for all mediums


      ```shell

      curl -X GET
      https://platform.hootsuite.com/hootdesk/v1/reporting/metrics/inbound-message-volume
      \
        -H 'Authorization: Bearer <token>' \
        -d 'from=2021-06-22T14%3A00%3A00&groupByInterval=hour'
      ```


      2. Current average response time for one channel over a rolling 30-minute
      interval


      | Parameter    | Value                                |

      |--------------|--------------------------------------|

      | Current time | 2021-06-22T14:00:00+01:00            |

      | Channel id   | efe3ca3a-9872-4ef2-9895-c948cadced29 |


      ```shell

      curl -X GET
      https://platform.hootsuite.com/hootdesk/v1/reporting/metrics/first-response-time
      \
        -H 'Authorization: Bearer <token>' \
        -d 'from=2021-06-22T13%3A30%3A00%2B01%3A00&channelId=efe3ca3a-9872-4ef2-9895-c948cadced29'
      ```


      3. Total number of contacts resolved with at least one reply yesterday on
      Twitter


      ```shell

      curl -X GET
      https://platform.hootsuite.com/hootdesk/v1/reporting/metrics/resolved-with-one-reply
      \
        -H 'Authorization: Bearer <token>' \
        -d 'from=2021-06-22T00%3A00%3A00%2B01%3A00&to=2021-06-23T00%3A00%3A00%2B01%3A00&mediumId=twit'
      ```


      4. Average handle time for the last hour for one Twitter channel in PST
      time zone


      | Parameter    | Value                                |

      |--------------|--------------------------------------|

      | Current time | 2021-06-22T14:00:00+01:00            |

      | Channel id   | efe3ca3a-9872-4ef2-9895-c948cadced29 |


      ```shell

      curl -X GET
      https://platform.hootsuite.com/hootdesk/v1/reporting/metrics/handle-time
      \ 
        -H 'Authorization: Bearer <token>' \ 
        -d 'from=2021-06-22T13%3A00%3A00-07%3A00&mediumId=twit&channelId=efe3ca3a-9872-4ef2-9895-c948cadced29'
      ```


      5. Total number of contacts currently waiting in the New queue for all
      channels


      ```shell

      curl -X GET
      https://platform.hootsuite.com/hootdesk/v1/queue/metrics/contacts-waiting
      \ 
        -H 'Authorization: Bearer <token>' \
        -d 'status=new'
      ```
  - name: proactive_messaging_introduction
    x-displayName: Introduction
    description: >
      ### What is proactive messaging?


      Proactive messaging allows enterprises to reach out preemptively to
      customers, ensuring higher satisfaction and loyalty. 

      Typical use cases include appointment reminders, delivery confirmations,
      shipping updates, order tracking, etc. 

      With our convenient and secure RESTful API, enterprises can send proactive
      messages to their customers.


      Hootsdesk's Proactive Messaging API allows you to:


      -   Send messages in real-time to your customers for supported media,
      including message templates on WhatsApp.

      -   Follow up on the status of sent messages.

      -   Retrieve detailed information about reasons for failures.


      ### Supported media


      You can use Hootdesk to send proactive messages on:


      -   WhatsApp

      -   MessageBird (SMS)

      -   Twilio (SMS)


      ### Rate limit


      The Proactive Messaging API is rate-limited to 60 messages per minute per
      organization. Enterprises exceeding these limits receive an error and must
      re-send any failed messages.


      ### Metadata


      When sending a proactive message, you can pass along custom information
      that is stored in Hootdesk. This data can then be exported. Please contact
      `dev.support@hootsuite.com` to add metadata to the Messages export. For
      example, when you send an appointment confirmation to your customer, you
      can pass along a unique identifier. You can then download the Messages
      export from Hootdesk, and determine how many unique customers are
      responding to your outbound notification.


      Example code:


      ```json

      {
        "contact": "+32123456789",
        "text": "This is a message with metadata",
        "medium": "WHATSAPP",
        "channel": "Hootdesk WA Channel",
        "metadata": {
          "customerID": "ABC123",
          "Source": "IVR"
        }
      }

      ```
  - name: proactive_messaging_rest_api
    x-displayName: REST API
    description: >
      When calling the Proactive Messaging API, the client needs to be
      authenticated.  


      The [REST API authentication](#tag/rest-api-authentication) section
      contains more details on how to authenticate your client.


      ### Examples


      1. Send a proactive text message


      The following example shows a proactive outbound message that can be sent
      as a text message. Hootdesk supports text messaging on WhatsApp

      Enterprises are responsible for ensuring that the customers have opted-in
      for proactive communications.


      Request


      ```shell

      curl -X POST
      https://platform.hootsuite.com/hootdesk/v1/proactive-messaging/ \
        -H 'Authorization: Bearer <token>' \
        -H 'Content-Type: application/json' \
        -d '{ "medium": "WHATSAPP", "channel": "myChannel", "contact": "+32495123456", "text": "Hello world!" }'
      ```


      Response `200`


      ```json

      {
        "correlationId": "3a7c6c1d-9f9b-11e8-b23b-6f13d5844b66"
      }

      ```


      2. Send a proactive message template (WhatsApp)


      WhatsApp allows for proactive outbound communication when these are sent
      as message templates that have been authorized by WhatsApp. These
      templates have a name, corresponding text, and substitution parameters
      within the text to make them personalized.

      Hootdesk has simplified how enterprises can send out these message
      templates through the use of shorthand codes for inline syntax:


      ```text

      &((namespace=[[NAMESPACE]] template=[[TEMPLATE NAME]] fallback=[[FALLBACK
      TEXT]] language=[[LANGUAGE]] body_text=[[VARIABLE1]]
      body_text=[[VARIABLE2]]))&

      ```


      | Parameter name | Parameter
      description                                                                                                     
      | Required  |

      |----------------|----------------------------------------------------------------------------------------------------------------------------|-----------|

      | namespace      | Unique code provided by WhatsApp while defining message
      templates.                                                         |
      true      |

      | template       | Name of the template provided on WhatsApp
      Manager.                                                                        
      | true      |

      | fallback       | We recommend setting the same value as the Template
      name here.                                                             |
      true      |

      | language       | The language in which the messages should be sent. The
      language needs to be defined in the WhatsApp Manager.               |
      true      |

      | body_text      | The variable text. 0, 1, or multiple variables in a
      message. Per variable, there needs to be a body_text parameter.        |
      true      |


      The language codes can be found on:
      <https://developers.facebook.com/docs/whatsapp/message-templates/creation>


      Enterprises construct the messages in shorthand and send it in the text
      field as shown in the following code.


      Request


      ```shell

      curl -X POST
      https://platform.hootsuite.com/hootdesk/v1/proactive-messaging/ \
        -H 'Authorization: Bearer <token>' \
        -H 'Content-Type: application/json' \
        -d '{ "medium": "WHATSAPP", "channel": "myChannel", "contact": "+32495123456", "text": "&((namespace=[[3c860f8b_1ae3_1105_b9ea_647e69aa2d49]] template=[[welcome_customer]] fallback=[[welcome_customer]] language=[[en]] body_text=[[Gregory]] body_text=[[How can I help you?]]))&" }'
      ```


      Response `200`


      ```json

      {
        "correlationId": "3a7c6c1d-9f9b-11e8-b23b-6f13d5844b66"
      }

      ```


      3. Get status overview


      Request


      ```shell

      curl -X GET
      https://platform.hootsuite.com/hootdesk/v1/proactive-messaging/3a7c6c1d-9f9b-11e8-b23b-6f13d5844b66
      \
        -H 'Authorization: Bearer '
      ```


      Response `200`


      ```json

      {
        "correlationId": "3a7c6c1d-9f9b-11e8-b23b-6f13d5844b66",
        "total": 1,
        "statuses": {
          "SENT": 1
        }
      }

      ```


      4. Get status details


      Request


      ```shell

      curl -X GET
      https://platform.hootsuite.com/hootdesk/v1/proactive-messaging/f988bd0f-9f9d-11e8-b23b-7d351b0c7ce9/FAILED
      \
        -H 'Authorization: Bearer '
      ```


      Response 200


      ```json

      [
        {
          "status": "FAILED",
          "contact": "+32495123456",
          "reason": "No channel found for medium MESSAGEBIRD"
        }
      ]

      ```
  - name: messenger_introduction
    x-displayName: Introduction
    description: >
      The Hootdesk Messenger SDK allows you to implement a customizable, fully
      featured messenger on your website. Any customer who visits your website
      or uses your app can contact your support team directly, eliminating the
      need for your users to use Facebook, WhatsApp, or any other messaging
      platform.


      ### Create your channel

      Please email customer support (`dev.support@hootsuite.com`) to add a new
      messenger channel.
  - name: messenger_web_sdk
    x-displayName: Web Messenger SDK
    description: >
      ## Implement Messenger on your website


      ### Get started


      The following steps are required to get Messenger to appear on your
      website.


      #### Step 1: Add the following code toward the end of the `<head>` section
      on your page. 


      > **Attention:** Make sure to copy all the code below


      ```html
       <script>
          !function(e,t,n,o){var r,s,c,a=[],i=[];e[n]={init:function(){r=arguments;var e={then:function(t){return i.push({type:"t",next:t}),e},catch:function(t){return i.push({type:"c",next:t}),e}};return e},on:function(){a.push(arguments)},render:function(){s=arguments},destroy:function(){c=arguments}},e.__onWebMessengerHostReady__=function(t){if(delete e.__onWebMessengerHostReady__,e[n]=t,r)for(var o=t.init.apply(t,r),p=0;p<i.length;p++){var u=i[p];o="t"===u.type?o.then(u.next):o.catch(u.next)}for(s&&t.render.apply(t,s),c&&t.destroy.apply(t,c),p=0;p<a.length;p++)t.on.apply(t,a[p])};try{var p=t.getElementsByTagName("script")[0],u=t.createElement("script");u.async=!0,u.src="https://assets.hootsuite.com/hootdesk/rtm/web/"+o+"/hootdesk."+o+".min.js",p.parentNode.insertBefore(u,p)}catch(e){console.error(e)}}(window,document,"Hootdesk","2.2.12");
       </script>
       ```

      #### Step 2: Paste the following initialization code toward the end of the
      `<body>` section.

      This initializes a basic Web Messenger without any special customizations.
      Customizations are described in the next section.


      <details>
        <summary>Initialization script</summary>

        On the third line, insert your specific channel Integration ID. This is one of the pieces of text that is generated on channel creation and will be provided by customer support when the channel is set up.

        ```html
        <script>
          var initPromise = Hootdesk.init({
            integrationId: 'Integration ID here',
            // This makes sure the customer is not able to create multiple conversations.
            canUserCreateMoreConversations: false,
            canUserSeeConversationList: false,
            
            customColors: {
              brandColor: '65758e',
              conversationColor: '65758e',
              actionColor: '65758e',
            },
            menuItems: {
              imageUpload: true,
              fileUpload: true,
              shareLocation: true
            },
            fixedHeader: false,
            customText: {
              actionPaymentCompleted: 'Payment Completed',
              actionPaymentError: 'An error occurred while processing the card. <br> Please try again or use a different card.',
              actionPostbackError: 'An error occurred while processing your action. Please try again.',
              clickToRetry: 'Message not delivered. Click to retry.',
              clickToRetryForm: 'Form not submitted. Click anywhere on the form to retry.',
              connectNotificationText: 'Sync your conversation and continue messaging us through your favorite app.',
              connectNotificationSingleText: 'Be notified when you get a reply.',
              conversationListHeaderText: 'My conversations',
              conversationListPreviewAnonymousText: 'Someone',
              conversationListPreviewCarouselText: '{user} sent a message',
              conversationListPreviewFileText: '{user} sent a file',
              conversationListPreviewFormText: '{user} sent a form',
              conversationListPreviewFormResponseText: '{user} filled a form',
              conversationListPreviewImageText: '{user} sent an image',
              conversationListPreviewLocationRequestText: '{user} sent a location request',
              conversationListPreviewUserText: 'You',
              conversationListRelativeTimeJustNow: 'Just now',
              conversationListRelativeTimeMinute: '1 minute ago',
              conversationListRelativeTimeMinutes: '{value} minutes ago',
              conversationListRelativeTimeHour: '1 hour ago',
              conversationListRelativeTimeHours: '{value} hours ago',
              conversationListRelativeTimeYesterday: 'Yesterday',
              conversationListTimestampFormat: 'MM/DD/YY',
              conversationTimestampHeaderFormat: 'MMMM D YYYY, h:mm A',
              couldNotConnect: 'Offline. You will not receive messages.',
              couldNotConnectRetry: 'Reconnecting...',
              couldNotConnectRetrySuccess: "You're back online!",
              couldNotLoadConversations: 'Couldn’t load conversations.',
              emailChangeAddress: 'Change my email',
              emailDescription: 'To be notified by email when you get a reply, enter your email address.',
              emailFieldLabel: 'Email',
              emailFieldPlaceholder: 'Your email address',
              emailFormButton: 'Submit',
              emailLinkingErrorMessage: 'Please submit a valid email address.',
              fetchHistory: 'Load more',
              fetchingHistory: 'Retrieving history...',
              fileTooLargeError: 'Max file size limit exceeded ({size})',
              fileTypeError: 'Unsupported file type.',
              formErrorInvalidEmail: 'Email is invalid',
              formErrorNoLongerThan: 'Must contain no more than ({characters}) characters',
              formErrorNoShorterThan: 'Must contain at least ({characters}) characters',
              formErrorUnknown: 'This doesn\'t look quite right',
              formFieldSelectPlaceholderFallback: 'Choose one...',
              frontendEmailChannelDescription: 'To talk to us using email just send a message to our email address and we\'ll reply shortly:',
              headerText: 'How can we help?',
              imageClickToReload: 'Click to reload image.',
              imageClickToView: 'Click to view {size} image.',
              imagePreviewNotAvailable: 'Preview not available.',
              inputPlaceholder: 'Type a message...',
              inputPlaceholderBlocked: 'Complete the form above...',
              introAppText: 'Message us below or from your favorite app.',
              lineChannelDescription: 'To talk to us using LINE, scan this QR code using the LINE app and send us a message.',
              linkChannelPageHeader: 'Sync your conversation',
              linkError: 'An error occurred when attempting to generate a link for this channel. Please try again.',
              locationNotSupported: 'Your browser does not support location services or it’s been disabled. Please type your location instead.',
              locationSecurityRestriction: 'This website cannot access your location. Please type your location instead.',
              locationSendingFailed: 'Could not send location',
              locationServicesDenied: 'This website cannot access your location. Allow access in your settings or type your location instead.',
              messageIndicatorTitlePlural: '({count}) New messages',
              messageIndicatorTitleSingular: '({count}) New message',
              messageRelativeTimeDay: '{value}d ago',
              messageRelativeTimeHour: '{value}h ago',
              messageRelativeTimeJustNow: 'Just now',
              messageRelativeTimeMinute: '{value}m ago',
              messageTimestampFormat: 'h:mm A',
              messageDelivered: 'Delivered',
              messageSeen: 'Seen',
              messageSending: 'Sending...',
              messengerChannelDescription: 'Connect your Facebook Messenger account to be notified when you get a reply and continue the conversation on Facebook Messenger.',
              newConversationButtonText: 'New Conversation',
              notificationSettingsChannelsDescription: 'Sync this conversation by connecting to your favorite messaging app to continue the conversation your way.',
              notificationSettingsChannelsTitle: 'Other Channels',
              notificationSettingsConnected: 'Connected',
              notificationSettingsConnectedAs: 'Connected as {username}',
              prechatCaptureGreetingText: 'Hi there \nTo start off, we\'d like to know a little bit more about you:',
              prechatCaptureNameLabel: 'Your name',
              prechatCaptureNamePlaceholder: 'Type your name...',
              prechatCaptureEmailLabel: 'Email',
              prechatCaptureEmailPlaceholder: 'name@company.com',
              prechatCaptureConfirmationText: 'Thanks for that! What can we help you with?',
              prechatCaptureMailgunLinkingConfirmation: 'You\'ll be notified here and by email at {email} once we reply.',
              sendButtonText: 'Send',
              settingsHeaderText: 'Settings',
              shareLocation: 'Location',
              smsBadRequestError: 'We were unable to communicate with this number. Try again or use a different one.',
              smsCancel: 'Cancel',
              smsChangeNumber: 'Change my number',
              smsChannelDescription: 'Connect your SMS number to be notified when you get a reply and continue the conversation over SMS.',
              smsChannelPendingDescription: 'Check your messages at {number} to confirm your phone number.',
              smsContinue: 'Send',
              smsInvalidNumberError: 'Please submit a valid phone number.',
              smsLinkCancelled: 'Link to {appUserNumber} was cancelled.',
              smsLinkPending: 'Pending',
              smsPingChannelError: 'There was an error sending a message to your number.',
              smsSendText: 'Send me a text',
              smsStartTexting: 'Start Texting',
              smsTooManyRequestsError: 'A connection for that number was requested recently. Please try again in {minutes} minutes.',
              smsTooManyRequestsOneMinuteError: 'A connection for that number was requested recently. Please try again in 1 minute.',
              smsUnhandledError: 'Something went wrong. Please try again.',
              syncConversation: 'Sync conversation',
              tapToRetry: 'Message not delivered. Tap to retry.',
              tapToRetryForm: 'Form not submitted. Tap anywhere on the form to retry.',
              telegramChannelDescription: 'Connect your Telegram account to be notified when you get a reply and continue the conversation on Telegram',
              uploadDocument: 'File',
              uploadInvalidError: 'Invalid file',
              uploadPhoto: 'Image',
              uploadVirusError: 'A virus was detected in your file and it has been rejected',
              unsupportedMessageType: 'Unsupported message type.',
              unsupportedActionType: 'Unsupported action type.',
              viberChannelDescription: 'Connect your Viber account to be notified when you get a reply and continue the conversation on Viber. To get started, scan the QR code using the Viber app.',
              viberChannelDescriptionMobile: 'Connect your Viber account to be notified when you get a reply and continue the conversation on Viber. To get started, install the Viber app and tap Connect.',
              viberQRCodeError: 'An error occurred while fetching your Viber QR code. Please try again.',
              wechatChannelDescription: 'Connect your WeChat account to be notified when you get a reply and continue the conversation on WeChat. To get started, scan this QR code using the WeChat app.',
              wechatChannelDescriptionMobile: 'Connect your WeChat account to be notified when you get a reply and continue the conversation on WeChat. To get started, save this QR code image and upload it in the <a href=\'weixin://dl/scan\'>QR code scanner</a>.',
              wechatQRCodeError: 'An error occurred while fetching your WeChat QR code. Please try again.',
              whatsappChannelDescriptionDesktop: 'Sync your account to WhatsApp by scanning the QR code or clicking the link below.\nThen, send the pre-populated message to validate the sync request. (Your code: {{code}}).',
              whatsappChannelDescriptionMobile: 'Sync your account to WhatsApp by clicking the link below.\nThen, send the pre-populated message to validate the sync request. (Your code: {{code}}).',
              whatsappLinkingError: 'An error occurred while fetching your WhatsApp linking information. Please try again.'
            }
          }).then(function () {
            // Your code after init is complete
          });
        </script>
        ```

      </details>


      <details>
        <summary>Optional functions</summary>

        ```javascript
        // Opens the conversation widget (NOOP when embedded)
        Hootdesk.open();
        
        // Closes the conversation widget (NOOP when embedded)
        Hootdesk.close();
        
        // Tells if the widget is currently opened or closed.
        Hootdesk.isOpened();
        
        // Logs a user in the Web Messenger, retrieving the conversations the user already had on other browser sessions and/or devices. Note that you don't need to call this after `init` if you already passed the external id and jwt as arguments in the call to `init`, in which case it's done internally as part of the initialization sequence. This returns a `Promise` that resolves when the Web Messenger is ready again.
        Hootdesk.login('external-id', 'some-jwt');
        
        // Logs out the current user and reinitialize the widget with an anonymous user. This returns a promise that resolves when the Web Messenger is ready again.
        Hootdesk.logout();
        
        // Destroys the Web Messenger and makes it disappear. The Web Messenger has to be reinitialized with `init` to be working again because it also clears up the integration id from the Web Messenger. It will also unbind all listeners you might have with `Hootdesk.on`.
        Hootdesk.destroy();
        
        // Sends a message to the targeted conversation on the user's behalf.
        Hootdesk.sendMessage(
        {
          type: 'text',
          text: 'hello'
        },
        '<conversation-id>'
        );
        // OR
        Hootdesk.sendMessage('hello', '<conversation-id>');
        ```

      </details>


      ## Customize Web Messenger options


      Several options are available for customizing your Web Messenger. The
      following is an example of a fully customized Web Messenger. Every option
      used is documented following the code snippet.


      <details>
        <summary>Customization options</summary>

        ```javascript
        Hootdesk.init({
          integrationId: '<integration-id>',
            // For authenticated mode
          jwt: 'your_jwt',
          userId: 'user_id',
          locale: 'en-US',
          customColors: {
            brandColor: '65758e',
            conversationColor: '65758e',
            actionColor: '65758e',
          },

          menuItems: {
            imageUpload: true,
            fileUpload: true,
            shareLocation: true
          },

          fixedIntroPane: false,

          prechatCapture: {
            enabled: true,
            fields: [
              {
                type: 'email',
                name: 'email',
                label: 'Email',
                placeholder: 'your@email.com'
              },
              {
                type: 'text',
                name: 'company-website',
                label: 'Company website',
                placeholder: 'mycompany.com'
              },
              {
                type: 'select',
                name: 'company-size',
                label: 'Company size',
                placeholder: 'Choose a number...',
                options: [
                  {
                    name: '1-10',
                    label: '1-10 employees'
                  },
                  {
                    name: '11-50',
                    label: '11-50 employees'
                  },
                  {
                    name: '51+',
                    label: '51+ employees'
                  }
                ]
              }
            ]
          },
          customText: {
            actionPostbackError: 'An error occurred while processing your action. Please try again.',
            clickToRetry: 'Message not delivered. Click to retry.',
            connectNotificationText: 'Be notified inside your other apps when you get a reply.',
            connectNotificationSingleText: 'Be notified when you get a reply.',
            connectNotificationSingleButtonText: 'Turn on <name> notifications',
            connectNotificationOthersText: 'others',
            conversationTimestampHeaderFormat: 'MMMM D YYYY, h:mm A',
            fetchHistory: 'Load more',
            fetchingHistory: 'Retrieving history...',
            fileTooLargeError: 'Max file size limit exceeded ({size})',
            fileTypeError: 'Unsupported file type.',
            headerText: 'How can we help?',
            imageClickToReload: 'Click to reload image.',
            imageClickToView: 'Click to view {size} image.',
            imagePreviewNotAvailable: 'Preview not available.',
            inputPlaceholder: 'Type a message...',
            introductionText: 'We\'re here to talk, so ask us anything!',
            invalidFileError: 'Only images are supported. Choose a file with a supported extension (jpg, jpeg, png, gif, or bmp).',
            locationNotSupported: 'Your browser does not support location services or it’s been disabled. Please type your location instead.',
            locationSecurityRestriction: 'This website cannot access your location. Please type your location instead.',
            locationSendingFailed: 'Could not send location',
            locationServicesDenied: 'This website cannot access your location. Allow access in your settings or type your location instead.',
            messageError: 'An error occurred while sending your message. Please try again.',
            messageIndicatorTitlePlural: '({count}) New messages',
            messageIndicatorTitleSingular: '({count}) New message',
            messageRelativeTimeDay: '{value}d ago',
            messageRelativeTimeHour: '{value}h ago',
            messageRelativeTimeJustNow: 'Just now',
            messageRelativeTimeMinute: '{value}m ago',
            messageTimestampFormat: 'h:mm A',
            messageSending: 'Sending...',
            messageDelivered: 'Delivered',
            prechatCaptureGreetingText: 'Hi there \nTo start off, we\'d like to know a little bit more about you:',
            prechatCaptureConfirmationText: 'Thanks for that! What can we help you with?',
            sendButtonText: 'Send',
            settingsHeaderText: 'Settings',
            shareLocation: 'Share location',
            tapToRetry: 'Message not delivered. Tap to retry.',
            unsupportedMessageType: 'Unsupported message type.',
            unsupportedActionType: 'Unsupported action type.',
            uploadDocument: 'Upload document',
            uploadInvalidError: 'Invalid file',
            uploadPhoto: 'Upload photo',
          }
        }).then(function() {
          // Your code after init is complete
        });
        
        initPromise.then(function() {
          // do something
        });
        
        // pass it around...
        initPromise.then(function() {
          //do something else
        });
        ```

      </details>


      ### Options


      The following general settings can be changed.


      | Option                   | Optional? | Default value             |
      Description                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                
      |

      |--------------------------|-----------|---------------------------|-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|

      | integrationID            | No        | -                         | Your
      app/integration
      ID.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   
      |

      | region                   | Yes       | -                         | The
      target region in which the app is
      located.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             
      |

      | jwt                      | Yes       | -                         | The
      token to authenticate your communication with the
      server.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              
      |

      | userId                   | Yes       | -                         | The
      user's
      ID.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             
      |

      | authCode                 | Yes       | -                         | An
      auth code for linking to an existing
      conversation.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      
      |

      | locale                   | Yes       | en-US                     | The
      locale used for date formatting using the `-` format. See [language
      codes](https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes) and [country
      codes](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2). <br /><br />
      Note: The country part is optional, and if a country is either not
      recognized or not supported, the app falls back to the generic language.
      If the language isn't supported, the app falls back to `en-US`. <br /><br
      /> Note: This is only used for date formatting and doesn't provide
      built-in translations for Web Messenger. |

      | soundNotificationEnabled | Yes       | TRUE                      |
      Enables the sound notification for new
      messages.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           
      |

      | imageUploadEnabled       | Yes       | TRUE                      |
      Enables the image upload
      feature.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          
      |

      | embedded                 | Yes       | FALSE                     | Tells
      the widget it is embedded (see following Embedded
      section).                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          
      |

      | displayStyle             | Yes       | button                    | How
      the messenger appears on your website. Must be either button or
      tab.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   
      |

      | buttonIconUrl            | Yes       | -                         | When
      the displayStyle is "button", you can select your own button icon. The
      image must be at least 200 x 200 pixels in JPG, PNG, or GIF
      format.                                                                                                                                                                                                                                                                                                                                                                                                            
      |

      | buttonWidth              | Yes       | 58px                      | When
      the displayStyle is "button", you have the option of specifying the button
      width.                                                                                                                                                                                                                                                                                                                                                                                                                                                                     
      |

      | buttonHeight             | Yes       | 58px                      | When
      the displayStyle is "button", you have the option of specifying the button
      height.                                                                                                                                                                                                                                                                                                                                                                                                                                                                    
      |

      | businessName             | Yes       | -                         | A
      custom business
      name.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    
      |

      | businessIconUrl          | Yes       | -                         | A
      custom business icon URL. The image must be at least 200 x 200 pixels and
      must be in JPG, PNG, or GIF
      format.                                                                                                                                                                                                                                                                                                                                                                                                                                            
      |

      | backgroundImageUrl       | Yes       | -                         | A
      background image URL for the conversation. The image is tiled to fit the
      window.                                                                                                                                                                                                                                                                                                                                                                                                                                                                         
      |

      | customColors             | Yes       | See the following section     |
      Colors used in the Web Messenger
      UI.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       
      |

      | customText               | Yes       | See the following example |
      Strings used in the Web Messenger UI. You can use these to either
      customize the text or translate it. <br /><br /> Note: Some strings
      include variables (surrounded by {}), which must remain in your customized
      text.                                                                                                                                                                                                                                                                                                                                     
      |

      | menuItems                | Yes       | See the following section
      |                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            
      |

      | prechatCapture           | Yes       | See the following section
      |                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            
      |


      ### Color options


      You can give your Web Messenger a custom look by editing the following
      settings.


      | Option            | Optional? | Default value |
      Description                                                                                                                       
      |

      |-------------------|-----------|---------------|------------------------------------------------------------------------------------------------------------------------------------|

      | brandColor        | Yes       | 65758e        | This color is used in
      the messenger header and the button or tab in idle state. Must be a 3- or
      6-character hexadecimal color.     |

      | conversationColor | Yes       | 0099ff        | This color is used for
      customer messages, quick replies, and actions in the footer. Must be a 3-
      or 6-character hexadecimal color. |

      | actionColor       | Yes       | 0099ff        | This color is used for
      calls-to-action inside your messages. Must be a 3- or 6-character
      hexadecimal color.                        |


      ### Text options


      Web Messenger has many text options to choose from. Here are a few
      examples.


      | Option                              | Default value if not
      used                                                                                
      |

      |-------------------------------------|-----------------------------------------------------------------------------------------------------------|

      | actionPostbackError                 | An error occurred while processing
      your action. Please try again.                                         |

      | clickToRetry                        | Message not delivered. Click to
      retry.                                                                   
      |

      | connectNotificationText             | Be notified inside your other apps
      when you get a reply.                                                  |

      | connectNotificationSingleText       | Be notified when you get a
      reply.                                                                        
      |

      | connectNotificationSingleButtonText | Turn on <name>
      notifications                                                                             
      |

      | connectNotificationOthersText       |
      others                                                                                                   
      |

      | conversationTimestampHeaderFormat   | MMMM D YYYY, h:mm
      A                                                                                      
      |

      | fetchHistory                        | Load
      more                                                                                                
      |

      | fetchingHistory                     | Retrieving
      history...                                                                                    
      |

      | headerText                          | How can we
      help?                                                                                         
      |

      | inputPlaceholder                    | Type a
      message...                                                                                        
      |

      | introductionText                    | We're here to talk, so ask us
      anything!                                                                  
      |

      | invalidFileError                    | Only images are supported. Choose
      a file with a supported extension (jpg, jpeg, png, gif, or bmp).        |

      | locationNotSupported                | Your browser does not support
      location services or it's been disabled. Please type your location
      instead. |

      | locationSecurityRestriction         | This website cannot access your
      location. Please type your location instead.                             
      |

      | locationSendingFailed               | Could not send
      location                                                                                  
      |

      | locationServicesDenied              | This website cannot access your
      location. Allow access in your settings or type your location instead.   
      |

      | messageError                        | An error occurred while sending
      your message. Please try again.                                          
      |

      | messageIndicatorTitlePlural         | ({count}) New
      messages                                                                                   
      |

      | messageIndicatorTitleSingular       | ({count}) New
      message                                                                                    
      |

      | messageRelativeTimeDay              | {value}d
      ago                                                                                             
      |

      | messageRelativeTimeHour             | {value}h
      ago                                                                                             
      |

      | messageRelativeTimeJustNow          | Just
      now                                                                                                 
      |

      | messageRelativeTimeMinute           | {value}m
      ago                                                                                             
      |

      | messageTimestampFormat              | h:mm
      A                                                                                                   
      |

      | messageSending                      |
      Sending...                                                                                               
      |

      | messageDelivered                    |
      Delivered                                                                                                
      |

      | sendButtonText                      |
      Send                                                                                                     
      |

      | settingsHeaderText                  |
      Settings                                                                                                 
      |

      | tapToRetry                          | Message not delivered. Tap to
      retry.                                                                     
      |

      | unsupportedMessageType              | Unsupported message
      type.                                                                                
      |

      | unsupportedActionType               | Unsupported action
      type.                                                                                 
      |

      | uploadDocument                      | Upload
      document.                                                                                         
      |

      | uploadInvalidError                  | Invalid
      file.                                                                                            
      |

      | uploadPhoto                         | Upload
      photo.                                                                                            
      |


      ### Menu options


      Menu items can be enabled or disabled.


      | Option        | Optional? | Default value |
      Description                          |

      |---------------|-----------|---------------|--------------------------------------|

      | imageUpload   | Yes       | TRUE          | Enables the image upload
      menu item   |

      | fileUpload    | Yes       | TRUE          | Enables the file upload menu
      item    |

      | shareLocation | Yes       | TRUE          | Enables the share location
      menu item |


      ### Prechat capture option


      This option allows you to have the Web Messenger automatically post a
      message to the user. You can implement a variety of messages. The
      following code snippet is the same as the one used in the earlier example.


      ```javascript

      prechatCapture: {
        enabled: true,
        fields: [
          {
            type: 'email',
            name: 'email',
            label: 'Email',
            placeholder: 'your@email.com'
          },
          {
            type: 'text',
            name: 'company-website',
            label: 'Company website',
            placeholder: 'mycompany.com'
          },
          {
            type: 'select',
            name: 'company-size',
            label: 'Company size',
            placeholder: 'Choose a number...',
            options: [
              { name: '1-10', label: '1-10 employees' },
              { name: '11-50', label: '11-50 employees' },
              { name: '51+',label: '51+ employees' }
            ]
          }
        ]
      }

      ```


      ### Embedded mode option


      You have the option to set up the Web Messenger in an embedded mode. This
      lets you choose where you want the widget to be visible.

      The following example illustrates what you need to set it up.

      Note that for embedded mode to work, you must set the parameter of
      `embedded` to `true` and call the `Hootdesk.render()` function manually.


      ```javascript

      Hootdesk.init({
        integrationId: 'INTEGRATION_ID_HERE',
        embedded: true
        }).then(() => {
          // Your code after init is complete
        });

      Hootdesk.render(document.getElementById('chat-container'));

      ```


      This sample embeds the Hootdesk messenger within a DOM element with the ID
      "chat-container". If you open the webpage, you will notice that it is no
      longer showing a button on the bottom right, but it is visible in the
      container element.


      ### Use contact attributes to save specific messenger data


      You can store information about the webpage and the user by using contact
      attributes. To enable this, do the following:


      1.  Go to `Admin settings`, expand `Agent workspace`, and then select
      `Contact attributes`.

      2.  Find one of the default contact attributes in the list and use the
      toggle to enable it.


      Now, when a client contacts you via the Hootdesk Messenger plugin, that
      specific data will be stored inside of a contact attribute.


      Available contact attributes for the Web Messenger plugin:


      -   Browser Language

      -   First Name

      -   Last Name

      -   Page Domain

      -   Page Title

      -   Page URL

      -   User Id


      ### Use shortcodes to create a rich messaging experience


      Shortcodes are a useful way to create a rich messaging interface.


      #### Available shortcodes


      | Element                 | Syntax          |
      Example                              |

      |-------------------------|-----------------|--------------------------------------|

      | Link button             | `%[]()`         | `%[Button
      label](http://anyurl.com)` |

      | Reply button            | `%[](reply:)`   | `%[Button
      label](reply:PAYLOAD)`     |

      | Location request button | `%[](location)` | `%[Button
      label](location)`          |

      | Image                   | `![]()`         |
      `![](http://url-of.the/image.jpg)`   |


      #### Link button


      By using multiple Link button shortcodes, you can send a contact multiple
      links in one message. An example:


      ```

      %[Link to Facebook](https://facebook.com)

      %[Link to Twitter](https://twitter.com)

      %[Link to LinkedIn](https://linkedin.com)

      ```


      ![A sample message with three link
      buttons](static/shortcode-multiple-links.png)


      #### Reply button


      By using multiple Reply button shortcodes under each other in one message,
      you can offer the contact a choice. For example:


      ```

      %[Sales](reply:Sales)

      %[Support](reply:Support)

      %[Engineering](reply:Engineering)

      ```


      ![A sample message with three reply
      buttons](static/shortcode-multiple-buttons.png)


      #### Location sharing button


      This code allows you to invite the contact to share their location with
      you.


      ```

      %[Share your location with us](location)

      ```


      ![A sample message with a request to share the
      location](static/shortcode-share-location.png)


      #### Images


      You can send images and gifs using this shortcode.


      ```

      ![A sample message with a GIF](http://url-of.the/image.gif)

      ```


      ![A sample message with a GIF](static/shortcode-image.png)
components:
  securitySchemes:
    Bearer token:
      type: http
      scheme: bearer
    Basic auth:
      type: http
      scheme: basic
    Oauth2ClientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: TO_BE_CONFIGURED_IN_HOOTDESK
          scopes:
            some_scope: TO_BE_CONFIGURED_IN_HOOTDESK
    SharedSecret:
      type: apiKey
      in: header
      name: X-Hootsuite-Signature
  schemas:
    OAuth2BearerToken:
      type: object
      properties:
        access_token:
          type: string
          description: >
            The token used to authorize requests. This should be added to
            requests as an authorization header: `Authorization: Bearer
            oZy8FDUHEiZ0mh0j4rUwOT9t5yHouTzBDsn-x_GROB0.rz-pMQzh-1F6VIGwnJZMBwH3SRwDfEHE4CRi-AClpcg`
          example: >-
            oZy8FDUHEiZ0mh0j4rUwOT9t5yHouTzBDsn-x_GROB0.rz-pMQzh-1F6VIGwnJZMBwH3SRwDfEHE4CRi-AClpcg
        token_Type:
          type: string
          description: >-
            The token type to be used in the authorization header. This will
            always be *bearer* for client credentials grant.
          example: bearer
        expires_in:
          type: number
          description: The number of seconds until the token expires (1 hour)
          example: 3599
    OAuthError:
      type: object
      properties:
        error:
          type: string
          description: >-
            An error code indicating the type of error that occurred. Should be
            used in conjunction with HTTP status.
          enum:
            - request_unauthorized
            - request_forbidden
            - invalid_request
            - unauthorized_client
            - access_denied
            - unsupported_response_type
            - invalid_scope
            - server_error
            - temporarily_unavailable
            - unsupported_grant_type
            - invalid_grant
            - invalid_client
            - unknown_error
            - not_found
            - invalid_state
            - misconfiguration
            - insufficient_entropy
            - invalid_token
            - token_signature_mismatch
            - token_expired
            - scope_not_granted
            - token_claim
            - token_inactive
        error_description:
          type: string
          description: A description of error.
          example: An error message
        error_hint:
          type: string
          description: A helpful hint about the error.
          example: >-
            Make sure that the various parameters are correct, be aware of case
            sensitivity and trim your parameters.
        status_code:
          type: number
          description: The status code
          example: 401
    Message:
      type: object
      properties:
        text:
          type: string
          example: Hi! How can I help you?
        attachment:
          type: string
          example: funny_cat.gif
      description: |
        The messages you want to send
    ConversationManipulation:
      type: object
      properties:
        sendMessages:
          type: array
          items:
            $ref: '#/components/schemas/Message'
          description: |
            The messages you want to send
        sendMessage:
          $ref: '#/components/schemas/Message'
          description: |
            The message you want to send
        applyTopics:
          type: array
          items:
            type: string
          example:
            - Hotel Reservation
          description: |
            The topics you want to apply to the conversation
        applyTags:
          type: array
          items:
            type: string
          example:
            - Happy
          description: |
            The tag you want to apply to the latest message
        setContactAttributes:
          type: object
          additionalProperties:
            type: string
          example:
            account_number: '19758293529351'
          description: >
            The attributes you want to apply to the contact. The key should
            match "^[a-zA-Z0-9_]+$"
        complete:
          type: string
          enum:
            - HANDOVER
            - RESOLVED
          description: >
            Finish a conversation by handing it off to a human agent or by
            marking the conversation resolved
    From:
      type: string
      description: >
        An `ISO-8601` date time marking the inclusive start of the result. Must
        be URL encoded. The `from` filter can be a maximum of 14 days in the
        past.
    To:
      type: string
      description: >
        An `ISO-8601` date time marking the exclusive end of the result. Must be
        URL encoded
    MediumId:
      type: string
      enum:
        - fb
        - twit
        - instagram
        - messagebird
        - rtm
        - whatsapp
        - twilio
        - wechat
        - mailgun
        - telegram
        - viber
      description: |
        Filter by medium identifier
    ChannelId:
      type: string
      description: >
        Filter by channel identifier (to obtain a list of your channel IDs,
        contact a Hootdesk representative)
    GroupByInterval:
      type: string
      enum:
        - minute
        - hour
        - day
      description: >
        An interval to group results by. No more than 60 intervals can be
        requested per request. For example, when selecting `minute`, the
        requested time range cannot be longer than 1 hour
    Timezone:
      type: string
      description: >
        The `timezone` to be used in conjunction with`groupByInterval`, e.g.
        America/Los_Angeles. Must be URL encoded. If no `timezone` is provided,
        the default 'UTC' timezone is used
    SingleValueResponse:
      type: object
      properties:
        dataPoint:
          type: object
          properties:
            value:
              type: integer
    GroupedValueResponse:
      type: object
      properties:
        dataPoints:
          type: array
          items:
            type: object
            properties:
              ts:
                type: string
                format: date-time
              value:
                type: integer
    ErrorResponse:
      type: object
      properties:
        errorId:
          type: string
        errors:
          type: array
          items:
            type: string
    QueueStatus:
      type: string
      enum:
        - new
        - pending
    SendProactiveMessageRequest:
      type: object
      properties:
        medium:
          type: string
          description: The medium you want to use
          enum:
            - WHATSAPP
        channel:
          type: string
          description: >-
            The name of the channel. Use one of the Accounts in Settings ->
            Channels
        contact:
          type: string
          description: >-
            The reference to a contact. In case of a telephone number it should
            start with a plus sign
        text:
          type: string
          description: The message you want to send
        metadata:
          type: object
          additionalProperties:
            type: string
          example:
            myReference: '19758293529351'
          description: >
            When sending a proactive message, you can pass along custom
            information that is stored in Hootdesk. This data can then be
            exported. Please contact `dev.support@hootsuite.com` to add metadata
            to the Messages export. For example, when you send an appointment
            confirmation to your customer, you can pass along a unique
            identifier. You can then download the Messages export from Hootdesk,
            and determine how many unique customers are responding to your
            outbound notification.
        sender:
          type: object
          properties:
            pictureUrl:
              type: string
              example: https://example.com/my-picture.png
              description: |
                The url of the picture to be used as the sender's avatar.
      required:
        - medium
        - channel
        - contact
        - text
    SendProactiveMessageResponse:
      type: object
      properties:
        correlationId:
          type: string
          example: 4f1dba7b-9ef3-11e8-a0f4-175408e41992
    StatusOverviewResponse:
      type: object
      properties:
        correlationId:
          type: string
          description: The correlation id of the sent message.
        total:
          type: string
          description: The total number of sent proactive messages.
        statuses:
          type: object
          description: An overview with the number of messages per status
          properties:
            PROCESSING:
              type: number
              description: Number of proactive messages that are queued for sending.
            FAILED:
              type: number
              description: Number of proactive messages that failed to send.
            SENT:
              type: number
              description: Number of proactive messages that are sent.
            DELIVERED:
              type: number
              description: Number of proactive messages that are sent and delivered.
            DELIVERING_FAILED:
              type: number
              description: >-
                Number of proactive messages that are sent but could not be
                delivered.
      example:
        correlationId: 44717822-9f05-11e8-b71e-671342217f40
        total: 1
        statuses:
          DELIVERED: 1
    schemas_ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: string
    StatusDetailResponse:
      type: array
      items:
        type: object
        properties:
          status:
            type: string
            description: The status of the message
          contact:
            type: string
            description: The contact used to send the message to
          reason:
            type: string
            description: The reason of failure
      example:
        - status: FAILED
          contact: '+32495123456'
          reason: No channel found for medium WHATSAPP
    CrmErrorNotificationsRequest:
      type: object
      properties:
        timestamp:
          type: string
          format: date-time
        version:
          type: integer
          example: 1
        eventType:
          type: string
          enum:
            - DATA_IMPORT_ERROR
        messages:
          type: array
          description: an array of explicit error messages
          items:
            type: string
          example:
            - testMessage1 key:testKey1 value:testValue1
            - testMessage2 key:testKey2 value:testValue2
    CrmWriteBackRequest:
      type: object
      description: The request contains write back payload.
      properties:
        timestamp:
          type: string
          format: date-time
          example: '2022-03-28T09:43:26.635984618Z'
        idempotencyKey:
          type: string
          description: >-
            A string that uniquely identifies each event. Used to help ensure
            that each request is processed only once.
          example: 6ebc6a78-d9e9-48be-b172-51eda40b7af8
        version:
          type: integer
          description: >
            A number designating the version of the `type` of request. Used to
            mark changes to the `data` field structure.
          example: 1
        type:
          type: string
          enum:
            - CONVERSATION_RESOLVED
            - CONVERSATION_SET_TO_PENDING
          example: CONVERSATION_RESOLVED
        data:
          type: object
          properties:
            conversation:
              type: object
              properties:
                id:
                  type: string
                  example: 0ad42eef-a806-11eb-9642-f1ceb2f21def
                createdAt:
                  type: string
                  format: date-time
                  example: '2022-03-28T09:42:27.004817183Z'
                previousStatus:
                  type: string
                  enum:
                    - new
                    - pending
                    - resolved
                  example: resolved
                currentStatus:
                  type: string
                  enum:
                    - new
                    - pending
                    - resolved
                  example: resolved
            medium:
              type: object
              properties:
                id:
                  type: string
                  example: fb
            channel:
              type: object
              properties:
                id:
                  type: string
                  example: 0-02534c5ac04-000-261ad914
                name:
                  type: string
                  example: Hootdesk support channel
            agent:
              type: object
              properties:
                id:
                  type: string
                  example: '11599'
                firstName:
                  type: string
                  example: John
                lastName:
                  type: string
                  example: Smith
                email:
                  type: string
                  example: john.smith@hootsuite.com
            contactProfile:
              type: object
              properties:
                id:
                  type: string
                  example: 693ed54b-a426-11eb-9363-cffd945b4b2f
                mediumContactProfileId:
                  type: string
                  example: bb7b0f8f00cc989b97f0725b
                primaryIdentifier:
                  type: string
                  example: John Smith
                secondaryIdentifier:
                  type: string
                  example: '+32439487192'
                pictureUrl:
                  type: string
                  example: https://example.com/my-picture.png
            statusUpdatedReason:
              type: string
              example: 5fd023f6-2e66-11eb-be07-092841b0717d - Response Not Required
            statusUpdatedComment:
              type: string
              example: not a question
            messages:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: string
                  direction:
                    type: string
                    enum:
                      - INBOUND
                      - OUTBOUND
                  text:
                    type: string
                example:
                  - id: 0ad20c0d-a806-11eb-9642-f799d0e531de
                    direction: INBOUND
                    text: I have a question
                  - id: 10664516-a806-11eb-9642-fbd9d431bd78
                    direction: OUTBOUND
                    text: How can I help you?
            contactAttributes:
              type: array
              items:
                type: object
                properties:
                  attribute:
                    type: string
                    example: null
                  value:
                    type: string
                  source:
                    type: string
                    enum:
                      - AGENT
                      - MEDIUM
                      - CRM_CONFIRMED
              example:
                - attribute: company
                  value: My company
                  source: AGENT
                - attribute: fb-profile-name
                  value: John Smith
                  source: MEDIUM
                - attribute: fb-profile-image
                  value: >-
                    https://image.com/sticky/default_profile_images/default_profile_normal.png
                  source: MEDIUM
                - attribute: email
                  value: john.smith@hootsuite.com
                  source: CRM_CONFIRMED
                - attribute: first_name
                  value: John
                  source: CRM_CONFIRMED
                - attribute: last_name
                  value: Smith
                  source: CRM_CONFIRMED
                - attribute: company
                  value: Hootsuite
                  source: CRM_CONFIRMED
            notes:
              type: array
              items:
                type: string
              example:
                - A conversation note
            topics:
              type: array
              items:
                type: string
              example:
[...]
